#mom {
  border: 1px solid #300;
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px #300;
  color:#310000;
  background-color:#ffd6d6;
}

body {
  background-color:#310000;
}

h1 {
  font-size: 4em;
}

h1, h2, h3 {
  font-family: 'Indie Flower', cursive;
}

p {
  font-family: 'Slabo 27px', serif;
  font-size:1.25em;
}

img {
  box-shadow: 3px 3px #300;
    border-radius: 15px;
}
